<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	 http://www.springframework.org/schema/cache
     http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
	 http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-3.2.xsd">
     
     <context:component-scan base-package="com.rhc">
     	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
     </context:component-scan>
     
     <!-- 消息国际化 -->
    <!--  <bean id="messages" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
     	<property name="basenames">
     		<list>
     			<value>classpath:/property/messages.properties</value>
     		</list>
     	</property>
     </bean> -->
     
     <!-- 加载jdbc配置 -->
     <bean id="configBean" 
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="locations"> 
			<list>
				<value>classpath:/property/jdbc.properties</value>
			</list>
		</property>
    </bean>
    
    
     <!-- 数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" 
	destroy-method="close">
		<!-- 驱动 -->
		<property name="driverClassName" value="${driverClassName}"/>
		<!-- URL -->
		<property name="url" value="${url}"/>
		<!-- 用户名 -->
		<property name="username" value="${username}"/>
		<!-- 密码 -->
		<property name="password" value="${password}"/>
		<!-- 连接池的初始大小 -->
		<property name="initialSize" value="${initialSize}" />
		<!-- 最大连接数 -->
		<property name="maxActive" value="${maxActive}" />
		<!-- 最大空闲连接数 -->
		<property name="maxIdle" value="${maxIdle}" />
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="${minIdle}" />
		<!-- 超时等待时间(以毫秒为单位) -->
		<property name="maxWait" value="${maxWait}" />
		<!-- 在空闲连接回收器线程运行期间休眠的时间值,以毫秒为单位.  -->  
        <property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}" />  
        <!-- 检查空闲连接的时间间隔 -->  
        <property name="minEvictableIdleTimeMillis" value="${minEvictableIdleTimeMillis}" /> 
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="jdbcSupport" class="org.springframework.jdbc.core.support.JdbcDaoSupport" abstract="true">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	
	<!-- 开启AOP监听 只对当前配置文件有效 -->
	<aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>
	
	<!-- 事务配置 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="get*" propagation="NOT_SUPPORTED"/>
			<tx:method name="load*" propagation="NOT_SUPPORTED"/>
			<tx:method name="find*" propagation="NOT_SUPPORTED" />
			<tx:method name="*" propagation="NOT_SUPPORTED"/>
		</tx:attributes>
	</tx:advice>
    <aop:config>
		<aop:pointcut expression="execution(* com.rhc..service..*(..))" id="Pointcut" />
		<aop:advisor advice-ref="transactionAdvice" pointcut-ref="Pointcut" />
	</aop:config>
	<tx:annotation-driven transaction-manager="transactionManager" />
    
    
    <!-- 缓存配置 -->
	<bean id="cacheManagerFactory" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml"></property>
	</bean>
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="cacheManagerFactory"></property>
	</bean>
	<cache:annotation-driven cache-manager="cacheManager" />
     
     

</beans>